.vscode
Build
Resources
Test

# Include the DLL files for third party libraries
Bin/Release/x64/*
!Bin/Release/x64/*.dll

# Exclude potential future libraries for now
Dist/Include/glm
Dist/Include/nlohmann
Dist/Include/fbxsdk
Dist/Include/fbxsdk.h

Dist/Libs/x64/libfbxsdk.lib

assimp_log.txt